<%= simple_form_for([appointment, message], remote: true) do |f| %>

<%= f.input_field :content, placeholder: "Send a message to #{appointment.barber.name ? appointment.barber.name : appointment.barber.email}"%>
<div class="message-details">
  <%= f.submit "Send", class:"btn-message" %>
</div>
<% end %>
