<div class="container">
  <h2 class="text-center">Messages regarding this appointment</h2>
    <ul id="messages" class="no-bulletpoints">
     <li>
      <% appointment.messages.each do |message| %>
        <%= render 'messages/show', message: message %>
      <% end %>
     </li>
    </ul>

  <div class="message-form text-center">
    <h2>Send a message to <%= appointment.barber.name ? appointment.barber.name : appointment.barber.email %></h2>
    <div>

    <%= render 'messages/form', appointment: appointment, message: message %>
    </div>
  </div>
