<h2 class="text-center">Messages regarding this appointment</h2>

<div id="messages">
  <% appointment.messages.each do |message| %>
  <%= render 'messages/show', message: message %>
  <% end %>
</div>

<%= render 'messages/form', appointment: appointment, message: message %>
