<h2>Messages regarding this appointment</h2>
<ul id="messages" class="no-bulletpoints">
  <% appointment.messages.each do |message| %>
  <%= render 'messages/show', message: message %>
  <% end %>
</ul>

<p>Send a message to <%= appointment.barber.name ? appointment.barber.name : appointment.barber.email %></p>
<%= render 'messages/form', appointment: appointment, message: message %>

