<div class="message-section-header">
  You can exchange messages with your <% if current_user == appointment.client %>barber<% else %>client<% end %> below. Make sure everything is arranged!
</div>

<div id="messages">
  <% appointment.messages.each do |message| %>
  <%= render 'messages/show', message: message %>
  <% end %>
</div>

<div class="row top-border">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="sent-message insert-message">
      <%= render 'messages/form', appointment: appointment, message: message %>
      <%= image_tag current_user.avatar_url , class: 'avatar' %>
    </div>
  </div>
</div>
