// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$light-gray: #F4F4F4;
// our colors
$black: #161925;
$white: #FFFFFF;
$white-text: #FFFFFF;
$pink: #E7555C;
$transparent-pink: #b18c8e;
$grey: #C2C2C2;
