// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
// our colors
$black: #161925;
$white-text: #FFF7F8;
$bordeaux: #6C0E23;
$transparent-bordeaux: #6b3b4680;
$grey: #000000;
