// Specific CSS for your home-page
.how-it-works-box {
  height: 250px;
  width: 250px;
  background-color: $white;
  border: 1px solid $pink;
  display: flex;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.how-it-works-box p {
  position: absolute;
  left: 15px;
  top: 60px;
  color: $black;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  text-align:center;
}

.how-it-works {
  margin-top: 90px;
  margin-bottom: 90px;
}

.img {
  position: absolute;
  align-self: center;
  opacity: 1;
  left: 75px;
  bottom: 15px;
  } img:hover {
  opacity: 0.7;
}

.homepage_how_it_works_row {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.pink-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $pink;
  color: $white;
  position: absolute;
  top: -40px;
  left: 85px;
}

.pink-circle span {
  position: absolute;
  left: 27px;
  top: 8px;
  font-size: 45px;
  font-weight: 600;
}

.hp-centered {
  text-align: center;
}

.pic-and-description .row {
  margin: 0;
  .right {
    margin-right: 100px;
  }

  .left {
    margin-left: 100px;
  }
}

.home-page-pics {
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.pic-and-description p {
  align-self: center;
  letter-spacing: 1px;
}

.text-box {
  height: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.text-box p {
  align-self: center;
  color: $black;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-page-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-page-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-page-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-page-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-page-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.hompage-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alternate-panes-row {
  width: 100%;
  height: 350px;
  display: flex;
  .alternate-pane {
    width: 50%;
    display: flex;
    .home-page-pics {
      height: 100%;
      width: 100%;
    }
    .alternate-text-pane {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      padding-left: 150px;
      padding-right: 150px;
      letter-spacing: 1px;

    }
  }
}
