.banner.barber-page-banner {
  height: 300px;
  color: $white;
  .flexbox-down {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .flexbox-right {
      width: 100%;
      margin-bottom: $std-margin;
      display: flex;
      justify-content: flex-end;

      .service-icons-barber-show-page {
        display: flex;
        align-items: center;
        flex: 1;
        .text-services {
          margin: 0 $std-margin 0 0;
        }
        img {
          margin: 0 $std-margin 0 $std-margin;
          max-height: 40px;
          max-width: 40px;
        }
      }

      .barber-show-page-stars {
        display: flex;
        align-items: center;
        .checked {
          color: $pink;
        }
        .review-count {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

.barber-profile-pane {
  width: 100%;
  display: flex;
  margin: $std-margin 0 $std-margin 0;
  .barber-profile-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: $std-margin;
    .barber-profile-name {
      h1 {
        margin: 0;
      }
    }
    .barber-profile-modes {
      opacity: 0.8;
      .barber-profile-mode-icon {
        display: inline-block;
        margin: 0 10px 0 0;
        text-align: center;
        width: 23px;
      }
    }
    .barber-profile-bio {
      opacity: 0.8;
      margin-top: $std-margin;
    }
  }
}

