
<h2>This is a secondary title</h2>
<p>This is basic text</p>
<a href="Link">This is a Link</a>


<img class="avatar" alt="avatar" src="https://images.unsplash.com/photo-1444069069008-83a57aac43ac?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" />
<img class="small-avatar" alt="avatar" src="https://images.unsplash.com/photo-1444069069008-83a57aac43ac?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" />


<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Requests</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Conversations</a>
  </li>
</ul>


<%= button_tag 'Action', class: 'btn', id: 'button-standard' %>
<button class="btn" style="vertical-align:middle"><span>Action</span></button>


<textarea rows="4" cols="50">
  This is our text area, This is our text area, This is our text area, This is our text area, This is our text area, This is our text area, This is our text area, This is our text area, This is our text area, This is our text area,
</textarea>



