 <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div>
      <p class="footer-heart">
         Created with
        <i class="fas fa-heart"></i>
         &
         <i class="fas fa-coffee"></i>
        at Le Wagon</p>
    </div>
  </div>

