<div class="navbar-shortcut">
  <div class="sign-in">
   <%= link_to 'Sign in', new_user_session_path %>
  </div>
  <div>
    <a href="/">
      <img class="navbar-logo"  src="shortcut_logo_white.png"/>
    </a>
  </div>
  <div>
    <a href="dashboard">
      <img class="navbar-profile"  src="https://files.slack.com/files-pri/T02NE0241-FGXJLE32A/b2b22184-6385-49b5-ad19-860d467e7c48.png"/>
    </a>
  </div>
</div>
