<div class="navbar-shortcut">
  <div class="sign-out">
   <%= link_to 'Sign out', destroy_user_session_path %>
  </div>
  <div>
    <a href="/">
      <%= image_tag "shortcut_logo_white.png", alt: "logo", class: "navbar-logo" %>
    </a>
  </div>
  <div>
    <a href="/dashboard">
      <%= image_tag "dashboard icon.png", alt: "dashboard", class: "navbar-profile" %>
    </a>
  </div>
</div>
