<div class="navbar-shortcut">
  <div class="sign-in">
   <%= link_to 'Sign in', new_user_session_path %>
  </div>
<div>
<a href="/">
    <img class="navbar-logo"  src="shortcut_logo_white.png"/>
</a>
</div>
<div>
<a href="dashboard">
    <img class="navbar-profile"  src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-fill-circle-512.png"/>
</a>
</div>
</div>
