 <div class="review-card">
  <div class="review-heads">
  <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class:"review-avatar" %>
    <div class="review-text-headers">
    <h4>Barber Name</h4>
    <p>Date Posted</p>

    <div class="review-stars">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    </div>
    </div>
    </div>
    <div class="review-text">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laboriosam ab eaque ullam qui, fugit quam dolorum iste neque delectus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure laboriosam ab eaque ullam qui, fugit quam dolorum iste neque delectus</p>
  </div>
</div>

