<h1>Homepage Shortcut!</h1>

<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query, params[:query],
      class: "form-control",
      placeholder: "Search for a barber"%>
  <%= button_tag 'Search', class: 'btn btn-danger'%>
<% end %>


<div class="container">
<h1>This is a main title</h1>
<h2>This is a secondary title</h2>
<p>This is basic text</p>
<a href="Link">This is a Link</a>
</div>

