<div class="banner" id="about">
  <div class="search-container">
    <%= form_tag users_path, method: :get, id: 'search_form' do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a location or a barber name" %>
    <%= button_tag 'Search', class: 'btn btn-blue', id: 'search_button' %>
    <% end %>
  </div>
</div>

<div class="wrapper">
  <h1 class="centered">Great barbers are all around you</h1>
  <p class="centered-p" >By using our website, you'll be able to discover if barbers are available around your area, just type in your address or the name of a barber you know</p>
  <div class="icons">
    <i class="fas fa-map-marker-alt" href="#about"></i>
    <i class="fas fa-user"></i>
  </div>
</div>


<div class="cards">
  <div class="cards-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1521490214993-bfb6f7dc096d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) "><a href="#about">Find</a>
  </div>

      <p class="centered-p" >By using our website, you'll be able to discover if barbers are available around your area, just type in your address or the name of a barber you know</p>


  <div class="cards-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1521490792331-7aa6f8b9e412?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
    <a href="#about">Around</a>
  </div>

      <p class="centered-p" > </p>


  <div class="cards-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1521490878864-a50e9fcb5718?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)"><a href="#about">Barbers</a>

  </div>
</div>


