<div class="banner">
  <div class="search-container">
    <%= form_tag users_path, method: :get, id: 'search_form' do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Type a location or a barber name" %>
      <%= button_tag 'Search', class: 'btn btn-blue', id: 'search_button' %>
    <% end %>
  </div>
</div>

