.appointment-card {
  min-height: 300px;
  background: $white-text;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 4px;
  border: 1px solid $pink;
  color: $black;
  width: 100%;
  display: flex;
  padding: 15px;
  font-size: $card-text-font-size;
  margin: 15px 0 15px 0;
  a {
    color: $black;
    &:hover {
      color: $black;
    }
  }
  .left-content {
    width: 65%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    .title-and-icon {
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      .state-icon {
        width: 70px;
        height: 70px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .card-title {
        flex: 1;
        padding-left: 20px;
        h2 {
          color: $black;
          font-size: $card-header-font-size;
          margin: 0;
        }
      }
    }
    .appointment-info {
      padding: 15px 15px 0 0;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      .info-row {
        display: flex;
        width: 100%;
        align-items: center;
        .info-label {
          display: block;
          width: 150px;
        }
        .info {
          flex: 1;
          .price-sum {
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
  .right-content {
    width: 35%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    .pay-button-container {
      width: 100%;
      height: 70px;
      margin-top: 15px;
      a {
        color: $white;
        font-weight: bold;
      }
    }
  }
}
