.small-avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  box-shadow: 1px 1px 1px $black;
}

.avatar{
  width: 100px;
  border-radius: 50%;
  height: 70px;
  box-shadow: 1px 1px 1px $black;
}

.avatar-barber-card {
  height: 100px;
}
