.hidden {
  display: none;
}

.barber-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  width: 600px;
  position: relative;
  border-radius: 4px;
  border: 1px solid $bordeaux;
}

.barber-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.barber-card h2 {
  font-size: $card-header-font-size;
  font-weight: bold;
  margin: 0;
  color: black;
}

.barber-card p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.barber-card .barber-card-infos {
  padding: 16px;
}

.checked {
  color: orange;
}

.barber-card-stars {
  display: flex;
  position: absolute;
  top: 0px;
  right:0px;
  margin: 10px;
  p.no-rating {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 8px;
    color: black;
  }
}
