.shortcut-btn {
  width: 100%; // I think it's nice to have buttons of different sizes across the application, by just sizing their parent element
  height: 100%; // I think it's nice to have buttons of different sizes across the application, by just sizing their parent element
  background-color: $pink;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  color: $white-text;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-btn:hover{
  color: $white-text;
}

.shortcut-btn.disabled {
  background-color: $transparent-pink;
  cursor: not-allowed;
}
