.btn {
  width: 200px;
  background-color: #6C0E23;
  color: white;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 10px;

}

.btn:hover{
  text-decoration: none;
  color: white;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn:disabled {
  background-color: #6B3B46;
}
