$footer-height: 80px;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $footer-height;
  background-color: $white;
  color: $grey;
  padding: 0px 50px;
  border: 1px solid $grey;
  margin-top: 50px;
  i {
    margin-right: 8px;
    margin-left: 8px;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.footer-links a:hover {
  color: $pink;
}
.footer-links a {
  color: $grey;
  opacity: 1;
  text-decoration: none;
  font-size: $footer-link-font-size;
}

.footer-heart {
  color: $grey;
  margin-right: 80px;
  margin-bottom: 0px;
  font-family: Avenir;
  font-size: $card-text-font-size;
}

.footer .fa-heart {
  color: $grey;
  opacity: 1;
}

.footer .fa-coffee {
  color: $grey;
  opacity: 1;
}
.footer .fa-heart:hover {
  color: $pink;
}

.footer .fa-coffee:hover {
  color: $pink;
}

.global-wrapper {
  height: 100vh;
}


