// #search_form {
//   display: flex;
//   width: 500px;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: transparent !important;
//   .form-control {
//     color: $black;
//   }
//   #query {
//     flex: 1;
//     height: 40px;

//   }
//   #search_button {
//     width: auto;
//     height: 40px;
//     background-color: $pink;
//     color: $white;
//   }
// }

// .search-container {
//   position: absolute;
//   width: 100%;
//   bottom: 0px;
//   height: 40px;

// }

#search_form {
  display: flex;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent !important;
  position: absolute;
  bottom: 180px;
  left: 540px;
  #query {
    flex: 1;
    height: 45px;
    position: relative
  } .fas.fa-map-marker-alt {
    position: absolute;
    left: 25px;
    top: 11px;
    z-index: 2;
    display: block;
    color: $grey;
}
.form-control.icon {
  padding-left: 50px;
}

#search_button {
    height: 45px;
    width: 120px;
    border-radius: 0px 4px 4px 0px;
    border: none !important;
    border-color: $pink;
  }
}

#search_button:hover {
  opacity: 0.7;
}
