#search_form {
  display: flex;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent !important;
  position: absolute;
  bottom: 180px;
  left: 520px;
  #query {
    flex: 1;
    height: 45px;
    position: relative
  } .fas.fa-map-marker-alt {
    position: absolute;
    left: 10px;
    top: 11px;
    z-index: 2;
    display: block;
    color: $grey;
}
.icon {
  padding-left: 28px;
}

#search_button {
    height: 45px;
    width: 100px;
    border-radius: 0px 4px 4px 0px;
    border: none !important;
    border-color: $pink;
  }

}

#search_button:hover {
  opacity: 0.9;
}

