// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "mapbox-gl";
@import "map";
@import "banner";
@import "forms";
@import "barber-card";
@import "service-card";
@import "footer";
@import "text&background";
@import "avatar";
@import "tabs";
@import "button";
@import "sent-message";
@import "received-message";
@import "reviews";
@import "appointment-card";
@import "review-card";
