$navbar_height: 90px; // Use this var to set height
.navbar-shortcut {
  display: flex;
  width: 100%;
  height: $navbar_height;
  background-color: $black;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 100px;
  width: 100px;
}

.navbar-logo:hover {
  opacity: 0.7;
}

.sign-out {
  color: white;
  margin-left: 150px;
  font-size: 16px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  border: 1px solid $white-text;
  padding: 6px 20px;
}

.sign-out:hover {
  color: $white-text;
  opacity: 0.7;
  a {
    color: $white-text;
  }
}

.navbar-profile {
  height: 40px;
  width: 40px;
  align-self: flex-end;
  margin-right: 150px;
}

.navbar-profile:hover {
  opacity: 0.7;
}

