.navbar-shortcut {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: $black;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  height: 115px;
  width: 115px;
}

.sign-in {
  color: $white-text;
  margin-left: 50px;
  font-size: 20px;
}
.navbar-profile {
  height: 70px;
  width: 70px;
  align-self: flex-end;
  margin-right: 50px;
}
