.received-message {
  margin: 15px 0 0 80px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background: $black;
  border: 0.8px solid $pink;
  padding: 15px;
  border-radius: 4px;
  p {
    font-size: 15px;
    width: 100%;
    margin: 0;
    color: $white-text;
  }
  .message-details {
    opacity: 0.7;
    margin-top: 15px;
  }
  img {
    position: absolute;
    left: -80px;
    top: 0;
  }
}
