.review-card {
  overflow: hidden;
  min-height: 120px;
  background: $white-text;
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $bordeaux;
  color: $black;
  font-size: $card-text-font-size;
  margin: 15px 0 15px 0;
  padding: 15px;

  .author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    .author_details {
      font-size: 12px;
      width: 80px;
      text-align: center;
      margin-top: 7px;
    }
  }

  .review-info {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    .review-card-stars {
      height: 20px;
      width: 100%;
      display: flex;
      .checked {
        color: orange;
      }
    }
    .review-date {

    }
    .review-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
