.no-bulletpoints {
  list-style-type: none;
  padding-left: 0px;
}

.card-message {
  display: flex;
  align-items: center;
  background: #020A00;
  color: white;
  margin: 30px 20px;
  position: relative;
  font-size: 25px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px white;
  padding: 15px 10px;
  justify-content: space-between;
  flex: 1;
}

.card-message em {
  font-size: 15px;
  margin-left: 10px;
  padding-left: 0px;
  width: 300px;
}

#message_content.string.required {
  width: 700px;
  height: 60px;
  padding: 20px 10px;
}

#new_message.simple_form.new_message {
  margin: 40px;
}
