.message-section-header {
  margin-top: 15px;
  color: $black;
  text-align: center;
  font-family: Open Sans;
  font-weight: 100;
}
.sent-message {
  margin: 15px 80px 0 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background: transparent;
  border: 0.8px solid $pink;
  padding: 15px;
  border-radius: 4px;
  p {
    font-size: 15px;
    width: 100%;
    margin: 0;
  }
  .message-details {
    opacity: 0.7;
    margin-top: 15px;
    width: 100%;
  }
  img {
    position: absolute;
    right: -80px;
    top: 0;
  }
}

.sent-message.insert-message {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#new_message {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  #message_content {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    color: $black;
  }
  .btn-message {
    font-size: 15px;
    background: transparent;
    color: $black;
    padding: 1px;
    height: 22px;
    font-style: italic;
    font-weight: normal;
    border: none;
    width: 100%;
    text-align: left;
    &:hover {
      color: $black;
      font-weight: bold;
    }
  }
}

#message_content {
  width: 100%;
  font-size: 15px;
  border: none;
}

.row.top-border {
  border-top: 0.8px solid $black;
  margin-top: 15px;
}
