.service-card {
  flex-direction: column;
  border: 1px solid $bordeaux;
  color: $black;
  border-radius: 4px;
  background: $white-text;
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
  overflow: hidden;
  font-size: $card-text-font-size;
  margin: 15px 0 15px 0;
  border-radius: 4px;
  .service-card-no-form {
    min-height: 120px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    a {
      color: $black;
      &:hover {
        color: $black;
      }
    }
    img {
      height: 100%;
      width: 120px;
    }
    h2 {
      color: $black;
      font-size: $card-header-font-size;
      margin: 0;
    }
    .service-card-infos {
      padding-left: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .service-quant-info {
      width: 130px;
    }
  }
  .new-appmt-form {
    width: 100%;

  }
}
