.service-card {
  display: flex;
  flex-direction: column;
  color: $black;
  border-radius: 4px;
  background: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  overflow: hidden;
  font-size: $card-text-font-size;
  margin: 15px 0 15px 0;
  border-radius: 4px;
  .service-card-no-form {
    min-height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    a {
      color: $black;
      &:hover {
        color: $black;
      }
    }
    img {
      height: 60%;
      width: 60px;
      margin-left: 20px;
    }
    h2 {
      color: $black;
      font-size: $card-header-font-size;
      margin: 0;
      font-weight: 500;
    }
    .service-card-infos {
      padding-left: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .service-quant-info {
      width: 130px;
    }
  }
  .new-appmt-form {
    width: 100%;

  }
}

.form-button {
  background-color: $pink;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: 20px;
  width: 140px;
  text-decoration: none;
  color: $white-text;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
