.service-card {
  overflow: hidden;
  min-height: 120px;
  background: $white-text;
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $bordeaux;
  color: $black;
  font-size: $card-text-font-size;
  img {
    height: 100%;
    width: 120px;
  }
  h2 {
    color: $black;
    font-size: $card-header-font-size;
    margin: 0;
  }
  .service-card-infos {
    padding-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .service-quant-info {
    width: 130px;
  }
}
