.service-card {
  overflow: hidden;
  min-height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  width: 580px;
  position: relative;
  border-radius: 4px;
  color: black;
  margin: 0 15px 15px 0;
}

.service-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.service-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.service-card p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.service-card .service-card-infos {
  padding: 16px;
  flex: 1;
}

.service-card .service-quant-info {
  width: 130px;
}

.dashboard-card {

}
