$std-margin: 20px;
$std-padding: 20px;

body {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $black;
}

.page-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - #{$navbar_height} - #{$footer_height} - #{$alert_height});
}

h1 {
  color : $black;
  font-family: Avenir;
  font-weight: 100;
  font-size: 100px;
}

h2 {
  color : $black;
  font-family: Avenir;
  font-weight: 100;

}
p {
  color : $black;
  font-family: Avenir;
  font-weight: 100;
}

a {
  color: $grey;
  font-family: Avenir;
}

a:hover {
  text-decoration: none;
  color: $pink;
}

.centered {
  text-align: center;
  margin: 50px;
}

.centered-p {
  opacity: 0.3;
  text-align: center;
  margin: 60px;
  font-size: 22px;
}

#icons {
  font-size: 200px;
  color: $pink;
  margin: 0 100px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto,
}

.review {
  text-color: $black;
  margin-top: 100px;
  width: 400px;
  margin-bottom: 280px;
}
#review_content {
  color: $black;
}

.icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#h1-small {
  font-size: 40px;
  color: $pink;
}
