body {
  background-color: #020A00;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: calc(100vh - #{$navbar_height} - #{$footer_height} - #{$alert_height});
}

h1 {
  color : $white-text;
  font-family: Avenir;
  font-weight: 100;
}

h2 {
  color : $white-text;
  font-family: Avenir;
  font-weight: 100;

}
p {
  color : $white-text;
  font-family: Avenir;
  font-weight: 100;
}

a {
  color: $white-text;
  font-family: Avenir;
}

a:hover {
  text-decoration: none;
  color: $white-text;
}

.centered {
  text-align: center;
  margin: 50px;
}

.centered-p {
  opacity: 0.3;
  text-align: center;
  margin: 60px;
}

.fas {
  font-size: 200px;
  color: $bordeaux;
  margin: 0 100px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto,
}

.icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
