body {
  background-color: #020A00;
}

h1 {
  color : #EFE8E9;
  font-family: Open Sans;
  font-weight: 100;
}

h2 {
  color : #EFE8E9;
  font-family: Open Sans;
  font-weight: 100;

}
p {
  color : #EFE8E9;
  font-family: Open Sans;
  font-weight: 100;

}

a {
  color: #6C0E23;
}

a:hover {
  text-decoration: none
}
