<div class="container">
  <%= render 'appointment-card', appointment: @appointment, marker: @marker %>
  <%= render partial: "messages/index", locals: {appointment: @appointment, message: @message} %>
</div>
